{% extends 'base.html' %}

{% block header %}
<h1 class="dash-title">APLICATIVOS INSTITUCIONALES</h1>
{% endblock %}

{% block content %}
<div class="dash-container">
    <div class="dash-categories">

        <div class="dash-category">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-folder-check" viewBox="0 0 16 16">
                <path d="M9.828 4H14a2 2 0 0 1 2 2v6.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4.5A2 2 0 0 1 2 2h3.5L7 3.5h2.828zM15 6a1 1 0 0 0-1-1H8.414l-1.5-1.5H2a1 1 0 0 0-1 1v8.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6z"/>
            </svg>
            <h5>Registro de Datos y Documentos</h5>
            <a href="{% url 'contratacion:registro_documentacion' %}" class="dash-btn">Acceder</a>
        </div>

        
        <div class="dash-category">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-folder-check" viewBox="0 0 16 16">
                <path d="M9.828 4H14a2 2 0 0 1 2 2v6.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4.5A2 2 0 0 1 2 2h3.5L7 3.5h2.828zM15 6a1 1 0 0 0-1-1H8.414l-1.5-1.5H2a1 1 0 0 0-1 1v8.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6z"/>
            </svg>
            <h5>Registro de Datos y Documentos</h5>
            <a href="{% url 'contratacion:registro_documentacion' %}" class="dash-btn">Acceder</a>
        </div>

        
 

        
    </div>
</div>
{% endblock %}
