{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Portal</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="auth-page">
    <div class="login-wrapper">
        <div class="login-image">
            <img class="login-imageAk active" src="{% static 'img/alcaldia.jpg' %}" alt="Alcaldía">
            <img class="login-imageAk" src="{% static 'img/Img_Kennedy_Avanza.png' %}" alt="Alcaldía 2">
            <img class="login-imageAk" src="{% static 'img/Img_logo_Kennedy.png' %}" alt="Alcaldía 3">
        </div>

        <div class="login-form-container">
            <img src="{% static 'img/logo-alcaldia-bogota.png' %}" alt="Logo" class="login-logo">
            <div class="login-title">Ingreso al sistema</div>

            {% if messages %}
                <div class="login-toast-container">
                    {% for message in messages %}
                        <div class="login-toast {% if message.tags == 'error' %}login-alert-error{% else %}login-alert-success{% endif %}">
                            <span class="material-icons">
                                {% if message.tags == "error" %}error{% else %}check_circle{% endif %}
                            </span>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST" action="{% url 'login:login_view'  %}" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Usuario:</label>
                    <input type="text" name="username" id="id_username" class="login-input" placeholder="Ingrese su usuario" required>
                </div>

                <div class="form-group">
                    <label for="id_password">Contraseña:</label>
                    <input type="password" name="password" id="id_password" class="login-input" placeholder="Ingrese su contraseña" required>
                </div>

                <button type="submit" class="btn-ingreso">Ingresar</button>
            </form>

            <p class="login-link">¿No tienes cuenta? <a href="{% url 'login:registro_view'  %}">Regístrate aquí</a></p>
        </div>
    </div>

    <!-- 📌 Cargar el script al final para que las imágenes ya estén listas -->
    <script src="{% static 'js/carrusel.js' %}"></script>
</body>
</html>
