//Cursor
@use "sass:string";
$cursor: string.unquote("url('/static/img/pointer-ak.cur'), pointer");


//  Colores Generales
$color-primario: #e21131;
$color-secundario: #FFB71B;
$color-hover-primario: white;
$color-hover-secundario: #285186;
$color-menu-lateral: #333;
$color-texto: #333;
$color-borde-input: #ccc;
$color_link: #285186;

// Tipografía
$tipo-letra: 'Roboto', sans-serif;

//  Dimensiones generales
$border-radius: 6px;
$radio-borde: 13px;
$max-width: 300px;
$ancho-max-wrapper: 1020px;
$ancho-wrapper: 55%;
$ancho-max-logo: 120px;

//  Espaciados
$espaciado-general: 20px;
$espaciado-logoAk: 30px;
$espaciado-form: 36px;
$espaciado-input: 10px;
$espaciado-boton: 12px;
$espaciado-boton-eliminar: 8px;

//  Tamaños de fuente
$tamano-fuente-titulo: 20px;
$tamano-subtitle:14px;
$tamano-fuente-categorias:13px;
$tamano-fuente-boton: 12px;
$tamano-fuente-cerrar-boton: 9px;
$tamano-fuente-perfil: 11px;
$tamano-fuente-link: 11px;
$tamano-fuente-volver:$tamano-fuente-perfil;
$tamano-fuente-contenido-tabla:$tamano-fuente-volver;
$tamano-fuente-titulo-tabla:12px;
$tamano-fuente-footer:13px;

//  Inputs y botones
$input-padding: $espaciado-input;
$button-padding: 8px;
$ancho-max-input: $max-width;

//  Botones (reutiliza colores principales)
$primary-color: $color-primario;
$secondary-color: $color-secundario;
$primary-hover-color: $color-hover-primario;
$secondary-hover-color: $color-hover-secundario;

// Sombras
$sombra-caja:0 4px 8px rgba(194, 57, 57, 0.418);
$sombra-login: 0 10px 30px rgba(0, 0, 0, 0.3);
