<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado de Contrato</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .page-break { page-break-after: always; }
    </style>
</head>
<body class="container px-4">
     <!-- Primera página -->
     <div>
        <div class="d-flex justify-content-between"> 
            <img src="/static/images/gobierno-bogota.jpg" alt="Gobierno Bogotá" class="img-fluid"> 
            <img src="/static/images/rads.jpg" alt="RADS" class="img-fluid">
        </div>
        <div class="certificado pt-3">
            <p>Bogotá D.C.</p>
            <p>582</p>
            <p>Señor(a):</p>
            <p>{{ nombre }} </p>
            <p>{{ correo }}</p>
            <p>Ciudad.</p>
            <p>Asunto: Respuesta solicitud certificación contractual N.º Radicado {{ radicado }}.</p>
            <p>En atención a la solicitud del asunto, una vez consultada la base de datos de la información contractual que reposa en el fondo de desarrollo local, remitimos la certificación del (los) contrato(s) de prestación de servicios.</p>
            <p>Esperamos que la información le sea útil para los fines pertinentes.</p>
            <p>Cordialmente,</p>
            <p>KARLA TATHYANNA MARIN OSPINA</p>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <div class="mt-5">
                <p class="m-0">Alcaldía Local de Kennedy </p>
                <p class="m-0">Transversal 78 K # 41 A 04 sur</p>
                <p class="m-0">Código Postal: 110841  </p> 
                <p class="m-0">Tel. 4481400 - 4511321 </p>
                <p class="m-0">Información Línea 195 </p>
                <a href="www.kennedy.gov.co " class="m-0">www.kennedy.gov.co </a>
            </div>
            <div class="mt-5">
                <p class="m-0 text-center">Código:  GDI-GPD-F066</p>
                <p class="m-0 text-center">Versión: 07</p>
                <p class="m-0 text-center">Vigencia: 26 de julio de 2023</p>
                <p class="m-0 text-center">Caso HOLA No. 333573</p>
            </div>
            <div class="mt-5">
                <img src="{% static 'images/escudo.jpg' %}" alt="Gobierno Bogotá" class="img-fluid"> 
            </div>
        </div>
        <div class="page-break"></div>
        <div class="d-flex justify-content-between"> 
            <img src="/static/images/gobierno-bogota.jpg" alt="Gobierno Bogotá" class="img-fluid"> 
            <img src="/static/images/rads.jpg" alt="RADS" class="img-fluid">
        </div>
        <div class="certificado pt-3">
            <p class="text-center">LA SUSCRITA ALCALDESA LOCAL DE KENNEDY</p>
            <p class="text-center">CERTIFICA:</p>
            <p>Que, la señor(a) <strong class="text-capitalize">{{ nombre }}</strong>, identificada con cédula de ciudadanía No. <strong>{{ cedula }}</strong> de <strong>{{ sitio_expedicion }}</strong>, suscribió con el Fondo de Desarrollo Local de Kennedy los contratos que a continuación se relacionan:</p>

            <table class="table table-bordered mb-3">
                <tr>
                    <th>Número:</th>
                    <td>{{ CPS }}</td>
                </tr>
                <tr>
                    <th>Objeto:</th>
                    <td>{{ objeto }}</td>
                </tr>
                <tr>
                    <th>Obligaciones:</th>
                    <td>{{ obligaciones }}</td>
                </tr>
                <tr>
                    <th>Valor Total incluyendo Adiciones:</th>
                    <td>{{ vr_inicial_contrato }}</td>
                </tr>
                <tr>
                    <th>Mensualidades:</th>
                    <td>{{ valor_mensual_honorarios }}</td>
                </tr>
                <tr>
                    <th>Fecha de Inicio:</th>
                    <td>{{ fecha_inicio }}</td>
                </tr>
                <tr>
                    <th>Fecha de terminación incluyendo prorrogas:</th>
                    <td>{{ fecha_terminacion }}</td>
                </tr>
                <tr>
                    <th>Fecha de Suscripción:</th>
                    <td>{{ fecha_suscripcion }}</td>
                </tr>
                <tr>
                    <th>Tiempo de Ejecución (días)</th>
                    <td>{{ tiempo_ejecucion_dia }}</td>
                </tr>
                <tr>
                    <th>Año del Contrato:</th>
                    <td>{{ año_contrato }}</td>
                </tr>
                <tr>
                    <th>Plazo Total de Ejecución:</th>
                    <td>{{ plazo_total_ejecucion }}</td>
                </tr>
                <tr>
                    <th>Cesión:</th>
                    <td>
                        {% if cesion %}
                            <p>Cedente: {{ cesion.cedente }}</p>
                            <p>Cesionario: {{ cesion.cesionario }}</p>
                            <p>Fecha de Cesión: {{ cesion.fecha_cesion }}</p>
                        {% else %}
                            <p>N/A</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Suspensiones:</th>
                    <td> {% if suspensiones %}
                            <p> {{ suspensiones }}</p>
                        {% else %}
                            <p>N/A</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Estado:</th>
                    <td>{{ estado }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
<footer class="d-flex justify-content-between mt-3">
    <div class="mt-5">
        <p class="m-0">Alcaldía Local de Kennedy </p>
        <p class="m-0">Transversal 78 K # 41 A 04 sur</p>
        <p class="m-0">Código Postal: 110841  </p> 
        <p class="m-0">Tel. 4481400 - 4511321 </p>
        <p class="m-0">Información Línea 195 </p>
        <a href="www.kennedy.gov.co " class="m-0">www.kennedy.gov.co </a>
    </div>
    <div class="mt-5">
        <p class="m-0 text-center">Código:  GDI-GPD-F066</p>
        <p class="m-0 text-center">Versión: 07</p>
        <p class="m-0 text-center">Vigencia: 26 de julio de 2023</p>
        <p class="m-0 text-center">Caso HOLA No. 333573</p>
    </div>
    <div class="mt-5">
        <img src="/static/images/escudo.jpg" alt="Gobierno Bogotá" class="img-fluid"> 
    </div>
</footer>
</html>