{% extends "base.html" %}

{% block title %}Resultado de Búsqueda{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<div class="container mt-4">
    {% if Funcionario %}
    <div class="card">
        <div class="card-header bg-success text-white">
            <h2 class="mb-0"><i class="fas fa-user-check"></i> Resultado Encontrado</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Información del Funcionario</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Nombre:</strong> {{ Funcionario.primer_nombre }}</li>
                        <li class="list-group-item"><strong>Cédula:</strong> {{ Funcionario.no_identificacion }}</li>
                        <li class="list-group-item"><strong>CPS:</strong> {{ Funcionario.CPS }}</li>
                        <li class="list-group-item"><strong>Año Contrato:</strong> {{ Funcionario.año_contrato }}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Acciones</h4>
                    <div class="d-grid gap-2">
                        <a href="{% url 'certificado:generar_certificado' no_identificacion=Funcionario.no_identificacion %}" 
                           class="btn btn-primary btn-lg">
                            <i class="fas fa-file-pdf"></i> Generar PDF
                        </a>
                        <a href="{% url 'certificado:preview_certificado' no_identificacion=Funcionario.no_identificacion %}" 
                           class="btn btn-info btn-lg">
                            <i class="fas fa-eye"></i> Vista Previa
                        </a>
                        <a href="{% url 'certificado:gestionar_funcionario' user_id=Funcionario.usuario.id %}" 
                           class="btn btn-warning btn-lg">
                            <i class="fas fa-edit"></i> Editar Datos
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% elif mensaje %}
    <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-triangle"></i> {{ mensaje }}
        <div class="mt-2">
            <a href="{% url 'login:registro_view' %}" class="btn btn-success me-2">
                <i class="fas fa-user-plus"></i> Registrar Usuario
            </a>
            <a href="{% url 'certificado:gestionar_funcionario' user_id=request.user.id %}" 
               class="btn btn-outline-secondary">
                <i class="fas fa-briefcase"></i> Asociar a Usuario Existente
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}